<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/8e4f0384-3854-4e60-af6d-c13489615482/resourceGroups/vs-azure-api-demo/providers/Microsoft.Web/sites/vs-restfull-api</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://vs-restfull-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>vs-restfull-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>vs-restfull-api</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$vs-restfull-api</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>