@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["AppName"] = "Rest API Demo";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["AppName"]</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p>This page will be the front end test area for a REST API.</p>
    <p style="text-align:left">This API will typically sport features like:</p>
    <ul style="text-align:left;">
        <li>GET</li>
        <li>POST</li>
        <li>PUT</li>
        <li>DELETE</li>
    </ul>
</div>
